*.exe
*.log
*.pyc
__pycache__/
node_modules/
dist/
build/
.env
.DS_Store
.vscode/
venv/
.env
*.out
*.obj
*.so
*.dll
*.lib
*.exe
*.class
*.pch
*.pdb
*.idb
*.suo
*.user
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog
*.ipch
*.vs/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.swp
*.dep
*.d